
@font-face {
  font-family: 'Pictochat-ES';
  src: url('Pictochat-ES.eot?#iefix') format('embedded-opentype'),  url('Pictochat-ES.woff') format('woff'), url('Pictochat-ES.ttf')  format('truetype'), url('Pictochat-ES.svg#Pictochat-ES') format('svg');
  font-weight: normal;
  font-style: normal;
}
